/* ============ COMMON STYLES ============ */

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}


/* ============ Header  ============ */

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-color {
    color: #2e2f42;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

.contact-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;
}

.contact {
    font-style: normal
}

/* ============ HERO  ============ */

.section-hero {
    background-color: #2e2f42;
    max-width: 100%;
    padding: 188px 0;
}

.main-title {
    display: block;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;display: block;
     color: #ffffff;
    margin: 0 auto 54px auto;
    max-width: 496px;
    

}

.order-service-btn {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
}

.order-service-btn:hover,
.order-service-btn:focus{
    color: #4d5ae5;
    background-color: #404bbf;
}

/* ============ BENEFITS  ============ */
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ============ Our Team  ============ */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.section-team {
    background-color: #f4f4fd;
}

.section-list-item {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
} 

/* ============ Portfolio  ============ */

.section-title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.portfolio-list-item-title {
    sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: #2e2f42;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ============ FOOTER  ============ */
.footer-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
}

.footer {
    background-color: #2e2f42;  
}

.page-logo-footer {
    color: #4d5ae5;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;


}

.logo-footer {
    color: #f4f4fd;
}